* {
  box-sizing: border-box;
}
button {
  background-color: blue;
}
html {
  background-color: gray;
}
section {
  border: 5px solid black;
  padding: 1em;
}
article {
  margin-bottom: 1em;
}
.outer_counter {
  overflow-x: scroll;
}

#last_article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  height: 80vh;
}
#first_article {
  overflow-x: scroll;
  display: flex;
  width: fit-content;
  height: 20em;
  background-color: teal;
}

#first_article p {
  margin: 0 0.5em;
  border-radius: 1em;
}
#last_article p {
  background-color: brown;
  border-radius: 5%;
}
p {
  color: aliceblue;
  width: 300px;
  height: 150px;
}
article,
p {
  padding: 1em;
}
button {
  border-radius: 5px;
}
